<html ng-app='myApp'>
<head>
    <meta charset='UTF-8'/>
    <title>AngularJS + Leaflet na prática</title>
    <link rel="stylesheet" type="text/css" href="assets/css/map.css">

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body ng-controller="MapController as mapCtrl">

    <p>Digite as coordenadas do ponto:</p>
    <input type='text' placeholder="Lat" ng-model='lat' ng-change='changePoint()'/>
    <input type='text' placeholder="Lng" ng-model='lng' ng-change='changePoint()' />
    <br/>

    <map></map>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js'></script>
    <script type="text/javascript" src='app/controllers/map.js'></script>
    <script type="text/javascript" src='app/directives/map.js'></script>
</body>
</html>